[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

apiritif = "*"
astunparse = "*"
attrs = "*"
bzt = "*"
certifi = "*"
chardet = "*"
colorama = "*"
colorlog = "*"
cssselect = "*"
decorator = "*"
EasyProcess = "*"
funcsigs = "*"
idna = "*"
ipaddress = "*"
jsonpath-rw = "*"
lxml = "*"
nose = "*"
pluggy = "*"
ply = "*"
"progressbar33" = "*"
psutil = "*"
py = "*"
pytest = "*"
pyvirtualdisplay = "*"
pyyaml = "*"
requests = "*"
selenium = "*"
"urllib3" = "*"
urwid = "*"
locustio = "*"


[packages]

