[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

funcsigs = "*"
"urllib3" = "*"
cookiecutter = "*"
MarkupSafe = "*"
"backports.functools_lru_cache" = "*"
"jinja2-time" = "*"
"Jinja2" = "*"
attrs = "*"
python-dateutil = "*"
poyo = "*"
binaryornot = "*"
click = "*"
pluggy = "*"
virtualenv = "*"
tox = "*"
pytest-cookies = "*"
future = "*"
py = "*"
pytest = "*"
chardet = "*"
arrow = "*"
requests = "*"
certifi = "*"
idna = "*"
whichcraft = "*"


[packages]

